@{
    ViewData["Title"] = "About";
    ViewData["First Name"] = "Piero";
    ViewData["Last Name"] = "del Valle";
}
<h1>@ViewData["First Name"] @ViewData["Last Name"]</h1>

<p>Hi, I'm @ViewData["First Name"], Student No. 8858221. I am currently enrolled in Computer Applications Development &commat; Conestoga.</p>

<h2>Experience</h2>
<ul>
    <li>HTML/CSS</li>
    <li>Javascript</li>
    <li>Express</li>
    <li>Node</li>
    <li>MongoDB</li>
</ul>