@inject MoviesApp.Services.IMovieService MovieService
@{
    ViewData["Title"] = "About Me";
    Movie? favoriteMovie = MovieService.GetMovieById(1);
}
<h1>@ViewData["Title"]</h1>

<p>I am Piero del Valle.</p>

<p>My favorite Movie is @favoriteMovie.Name released in @favoriteMovie.Year</p>
